<!-- Start footer -->
<footer class="themeix-footer">
   <div class="footer-widget-main p-80">
      <div class="container">
         <div class="row">
            <div class="col-md-4">
              {{> 'social_profiles'}}
            </div>
            <div class="col-md-4">
              {{> 'feature_posts_widget'}}
            </div>
            <div class="col-md-4">
               {{> 'tags_widget'}}
            </div>
         </div>
      </div>
   </div>
   <div class="footer-copyright text-center">
      <div class="container">
         <p class="coyright-left">Copyright - 2018 {{@blog.title}} </p>
         <p class="coyright-right">Designed by <a href="http://themeix.com">Themeix</a> Published With <a href="https://ghost.org">Ghost</a></p>
      </div>
   </div>
   <a href="#" class="back-top"></a>
</footer>
<!-- End footer --> 