    <div class="social-feed-widget">
        <ul class="list-inline">
            <li class="facebook">
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <p>60k fans</p>
            </li>
            <li class="twitter">
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <p>43k follower</p>
            </li>
            <li class="youtube">
                <a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                <p>56k subscriver</p>
            </li>
        </ul>
    </div>