<div class="sidebar">
   <div class="single-widget"> 
    {{> 'author_widget'}}
  </div>
  <div class="single-widget">
      {{> 'recent_posts_widget'}}
  </div>
  <div class="single-widget">
      {{> 'social_share_widget'}}
  </div>
  <div class="single-widget">
     {{> 'subscribe_widget'}}
  </div>
</div>