{{!< default }}

  <!-- Start article -->
  <div class="themeix-content p-100">
     <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="bug-section text-center">
                    <div class="bug-text">404</div>
                </div>
                <div class="bug-home text-center">
                    <a href="{{@blog.url}}" class="bug-btn hover-rpl btn btn-primary"> {{t "Back"}} to Home</a>
                    <p>sorry Lorem ipsum dolor sit amet, morbi lacus posuere volutpat venenatis vitae, ipsum habitasse ante, tristique ante vestibulum nec. Maecenas at, mollis velit metus, dolor </p>
                </div>
            </div>
        </div>
     </div>
  </div>
 <!-- End article -->

