 {{!< default}}
 {{!-- {{> 'home_slider'}} --}}
 
 <section class="themeix-article p-100">
     <div class="container">
         <div class="row">
             <div class="col-md-8 col-sm-12">
               {{> 'post_loop'}}
             </div>
             <div class="col-md-4 col-sm-12">
                {{> 'sidebar'}}
             </div>
         </div>
     </div>
 </section>


