{{!< default}}
   {{#post}}
     {{> 'page_header' }}
   {{/post}}
     <!-- Start article -->
      <div class="themeix-content p-100">
         <div class="container">
            <div class="row">
			    <div class="col-md-10 mx-auto">
				    <div class="text-center">
                     <p>This page demonstrate some basic elements and typography which you will use frequently within your blog. Also This theme comes with Bootstrap in pack, so you can use any of the element which is available in bootstrap.</p>
                     <div class="center-border"></div>
                  </div>
				      <h2>H2. Bootstrap heading</h2>
                  <p>A amet gravida sollicitudin dolor feugiat fusce, eu mollis mauris. Pariatur egestas, velit iaculis delectus, aliquam interdum nec id quam habitant, quis litora mi a sed. At luctus leo vestibulum, et mauris conubia. Turpis parturient mollis, augue blandit tempus velit mauris enim, fringilla est habitasse aenean eu. Scelerisque sed mauris soluta non nun</p>
                  
                  <p>A amet gravida sollicitudin dolor feugiat fusce, eu mollis mauris. Pariatur egestas, velit iaculis delectus, aliquam interdum nec id quam habitant, quis litora mi a sed. At luctus leo vestibulum, et mauris conubia. Turpis parturient mollis, augue blandit tempus velit mauris enim, fringilla est habitasse aenean eu. Scelerisque sed mauris soluta non nun</p>
                  <h3>H3. Bootstrap heading</h3>
                  <p>A amet gravida sollicitudin dolor feugiat fusce, eu mollis mauris. Pariatur egestas, velit iaculis delectus, aliquam interdum nec id quam habitant, quis litora mi a sed. At luctus leo vestibulum, et mauris conubia. Turpis parturient mollis, augue blandit tempus velit mauris enim, fringilla est habitasse aenean eu. Scelerisque sed mauris soluta non nun</p>
                  <h4>H4. Bootstrap heading</h4>
                  <p>A amet gravida sollicitudin dolor feugiat fusce, eu mollis mauris. Pariatur egestas, velit iaculis delectus, aliquam interdum nec id quam habitant, quis litora mi a sed. At luctus leo vestibulum, et mauris conubia. Turpis parturient mollis, augue blandit tempus velit mauris enim, fringilla est habitasse aenean eu. Scelerisque sed mauris soluta non nun</p>
                  <h5>H5. Bootstrap heading</h5>
                  <p>A amet gravida sollicitudin dolor feugiat fusce, eu mollis mauris. Pariatur egestas, velit iaculis delectus, aliquam interdum nec id quam habitant, quis litora mi a sed. At luctus leo vestibulum, et mauris conubia. Turpis parturient mollis, augue blandit tempus velit mauris enim, fringilla est habitasse aenean eu. Scelerisque sed mauris soluta non nun</p>
                  <h6>H6. Bootstrap heading</h6>
                  <p>A amet gravida sollicitudin dolor feugiat fusce, eu mollis mauris. Pariatur egestas, velit iaculis delectus, aliquam interdum nec id quam habitant, quis litora mi a sed. At luctus leo vestibulum, et mauris conubia. Turpis parturient mollis, augue blandit tempus velit mauris enim, fringilla est habitasse aenean eu. Scelerisque sed mauris soluta non nun</p>
				     <h2>Video</h2>
                  <h4>Youtube</h4>
                  <div class="video-post">
                     <iframe  width="560" height="315" src="https://www.youtube.com/embed/1ytLkEq1cb8?rel=0&amp;controls=0&amp;showinfo=0"></iframe>
                  </div>
				      <h4>Vimeo</h4>
                  <div class="video-post">
                     <iframe  src="https://player.vimeo.com/video/238711585?color=00efe3&byline=0&portrait=0" width="640" height="360"></iframe>
                  </div>
				      <h2>Audio</h2>
                   <h4>Sound Cloud</h4>
                  <div class="audio-post">
                     <iframe width="100" height="166"   src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/338900157&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true"></iframe>
                  </div>
				</div>
		    </div>
		 </div>
	  </div>
	 <!-- End article -->